header {
	position: absolute;
	width: 100%;
	z-index: 2;
}
header h1 {
	background: red;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-style: 14px;
	font-weight: bold;
	text-align: center;
}
.inner {
	position: absolute;
	top: 154px;
	left: 0;
	bottom: 40px;
	width: 100%;
	z-index: 1;
}
.carousel {
	padding-top: 40px;
	border-bottom: 1px dashed #000;
}
.list {
	background: #fff;
	width: 100%;
	overflow: hidden;
}
.list:last-child {
	border-bottom: none;
}
.list ul {
	width: 1280px;
}
.list li {
	padding: 15px;
	width: 320px;
	height: 113px;
	overflow: hidden;
}
.list .img {
	border: solid #000;
	border-width: 2px 1px 2px 1px;
	margin-right: 10px;
	width: 20%;
}
.list .img img {
	max-width: 100%;
}
.list .info {
	width: 76%;
}
.list .info h2 {
	font-size: 0.875rem;
	font-weight: bold;
}
.list .info p {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	color: #a0a0a0;
}
.list .info .desc {
	height: 40px;
}
.refreshing, .loading {
	height: 30px;
	line-height: 30px;
	color: gray;
	text-align: center;
}
.refreshing {
	margin-top: -30px;
}
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #000;
	height: 40px;
	width: 100%;
	line-height: 40px;
	color: #fff;
	text-align: center;
	z-index: 2;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
.list li {
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-play-state: running;
}